<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.hurshi.short_url</string>
	<key>connections</key>
	<dict>
		<key>261E3F9D-E932-4B6F-805E-AC07CB4B1F66</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7D8DE31-D4C9-4929-9A6A-6A24F5D36071</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>58A416D9-30B1-4317-8DD2-3B9F5EFE6867</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>94D95591-53D0-4972-B7CA-D33E297E2438</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>261E3F9D-E932-4B6F-805E-AC07CB4B1F66</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>hurshi</string>
	<key>description</key>
	<string>Shorten URL</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Shorten_URL</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C7D8DE31-D4C9-4929-9A6A-6A24F5D36071</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>q="{query}"

key=${q:0:1}
value=${q:1}

case "$key" in 
	"1")
		value=$(curl --silent --request POST 'http://url.tool.cc/get_data.php' --data-urlencode "url=$value" --data-urlencode "url_type=shorten" --data-urlencode "url_host=t.cn")
		echo ${value%&lt;*}
		;;
	"2")
		value=$(curl --silent --data-urlencode "url=$value" "http://suo.im/api.php")
		echo $value
		;;
	"3")
		value=$(curl --silent --data-urlencode "url=$value" "https://tinyurl.com/api-create.php")
		echo $value
		;;
	"4")
		value=$(curl --silent --request POST 'http://url.tool.cc/get_data.php' --data-urlencode "url=$value" --data-urlencode "url_type=shorten" --data-urlencode "url_host=x.co")
		echo ${value%&lt;*}
		;;
	"5")
		value=$(curl --silent --request POST 'http://url.tool.cc/get_data.php' --data-urlencode "url=$value" --data-urlencode "url_type=shorten" --data-urlencode "url_host=dwz.cn")
		echo ${value%&lt;*}
		;;
esac</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>261E3F9D-E932-4B6F-805E-AC07CB4B1F66</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>short</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>waiting</string>
				<key>script</key>
				<string>cat&lt;&lt;EOB
&lt;?xml version="1.0"?&gt;
&lt;items&gt;

&lt;item uid="tcn" arg="1{query}"&gt;
&lt;title&gt;t.cn&lt;/title&gt;
&lt;icon&gt;icons/sina.jpg&lt;/icon&gt;
&lt;/item&gt;

&lt;item uid="suoim" arg="2{query}"&gt;
&lt;title&gt;suo.im&lt;/title&gt;
&lt;icon&gt;icons/suoim.jpg&lt;/icon&gt;
&lt;/item&gt;

&lt;item uid="tinyurl" arg="3{query}"&gt;
&lt;title&gt;tiny.url&lt;/title&gt;
&lt;icon&gt;icons/tinyurl.jpg&lt;/icon&gt;
&lt;/item&gt;

&lt;item uid="xco" arg="4{query}"&gt;
&lt;title&gt;x.co&lt;/title&gt;
&lt;icon&gt;icons/xco.jpg&lt;/icon&gt;
&lt;/item&gt;

&lt;item uid="dwzcn" arg="5{query}"&gt;
&lt;title&gt;dwz.cn&lt;/title&gt;
&lt;icon&gt;icons/baidu.jpg&lt;/icon&gt;
&lt;/item&gt;

&lt;/items&gt;
EOB</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>short your url</string>
				<key>title</key>
				<string>Shorten URL</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>94D95591-53D0-4972-B7CA-D33E297E2438</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>URL copied to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>58A416D9-30B1-4317-8DD2-3B9F5EFE6867</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>261E3F9D-E932-4B6F-805E-AC07CB4B1F66</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>58A416D9-30B1-4317-8DD2-3B9F5EFE6867</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>94D95591-53D0-4972-B7CA-D33E297E2438</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>C7D8DE31-D4C9-4929-9A6A-6A24F5D36071</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>github.com/hurshi</string>
</dict>
</plist>
