<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.hurshi.help_plus</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>EEDC295C-4813-459A-8C7B-16522A886DE0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86744420-5771-4CD2-8CDA-EB4C33A11B19</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>hurshi</string>
	<key>description</key>
	<string>one step to open what you want</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>QuickTo</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>quick</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>waiting</string>
				<key>script</key>
				<string>q={query}
OUTPUT=""

genItem(){
	OUTPUT=${OUTPUT}"&lt;item uid=\"$1\" arg=\"$3\"&gt;"
	OUTPUT=${OUTPUT}"&lt;title&gt;$2&lt;/title&gt;"
	OUTPUT=${OUTPUT}"&lt;icon&gt;"imgs/"$4&lt;/icon&gt;"
	OUTPUT=${OUTPUT}"&lt;/item&gt;"
}

addItem(){
	if [[ $1 == ${q}* || "*" == ${q}* ]];then
		genItem $1 $2 $3 $4
	fi
}

addItem "json" "在线 json 解析" "open http://www.bejson.com/" "json.jpg"
addItem "regex" "在线正则表达式" "open http://tool.oschina.net/regex/" "regex.jpg"
addItem "iconfont" "字体图标 IconFont" "open http://www.iconfont.cn" "iconfont.png"
addItem "wanandroidtools" "玩安卓工具箱" "open http://www.wanandroid.com/tools" "wanandroid.jpg"
addItem "wanandroid" "玩安卓官网" "open http://www.wanandroid.com" "wanandroid.jpg"
addItem "kill adb" "退出 ADB" "pkill -f adb" "adb.jpg"
addItem "github" "Github" "open https://github.com/" "github.png"
addItem "qrcode1" "草料二维码" "open https://cli.im/" "qrcode1.jpg"
addItem "qrcode2" "联图网二维码" "open http://www.liantu.com/" "qrcode2.jpg"
addItem "teambition" "teambition项目管理" "open http://t.cn/8kiEp7J" "teambition.jpg"
addItem "confluence" "康复伦斯" "open http://t.cn/Eq2dJMU" "confluence.jpg"
addItem "redmine" "redmine" "open http://t.cn/Eq2DH35" "redmine.jpg"
addItem "qqmail" "腾讯 企业邮箱" "open https://exmail.qq.com/" "qqmail.jpg"
addItem "ui" "蓝湖" "open http://t.cn/EqHGcRC" "lanhu.jpg"
addItem "history price" "历史价格查询" "open http://p.zwjhl.com/" "history_price.jpg"
addItem "short" "短网址" "open https://www.sojson.com/dwz.html" "short.png"





cat&lt;&lt;EOB
&lt;?xml version="1.0"?&gt;
&lt;items&gt;
$OUTPUT
&lt;/items&gt;
EOB
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>一步直达</string>
				<key>title</key>
				<string>QuickTo</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EEDC295C-4813-459A-8C7B-16522A886DE0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>{query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>86744420-5771-4CD2-8CDA-EB4C33A11B19</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>86744420-5771-4CD2-8CDA-EB4C33A11B19</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>EEDC295C-4813-459A-8C7B-16522A886DE0</key>
		<dict>
			<key>xpos</key>
			<integer>140</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>github.com/hurshi</string>
</dict>
</plist>
